.manu-logo {
    width: 18%;
}

.card, #formFile {
    margin: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
}

#fileSubmit {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}