.manu-logo {
    width: 18%;
}

.card, #formFile {
    margin: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.row {
  display: flex;
  align-items: top;
}

#fileSubmit {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

#formFile {
    width: 75%;
}

input[readonly] {
    width: 100%;
    overflow: scroll;
}

.table {
    word-wrap: break-word;
}

textarea {
    margin-left: 15px !important;
}