{% extends 'base.html'%}
{% block content %}
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (const message of messages) {
                alert(message);
              }
            </script>
          {% endif %}
        {% endwith %}
        <form action="/bulk-upload" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="formFile" class="form-label"><b>Only use this if you're out of options.</b>
                    Please upload your CSV</label>
                <input class="form-control" required type="file" name="file" id="formFile"/>
                <input type="submit" class="btn btn-light mt-2 mb-2" id="fileSubmit" value="Upload"/>
            </div>
        </form>
    </div>
</div>

{% if not_CSV %}
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        <h4>Your file is not CSV. Don't try to trick me, por favor</h4>
    </div>
</div>
{% endif %}

{% if file %}
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        <h4>To reset your changes, please re-upload the file (it won't be changed until you want it)</h4>
        <br>
        <table class="table table-dark">

            <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
                <th></th>
            </tr>


            {% for data_string in file %}
            <tr>
                <form method="POST" action="/delete-csv-line">
                {% for i in range(data_string|length) %}
                    <td>
                        <input type="text" name="deleteLine{{ i }}" readonly value="{{ data_string[i] }}">
                    </td>
                {% endfor %}
                    <td>
                        <input type="submit" class="btn btn-light" value="-">
                    </td>
                </form>
            </tr>
            {% endfor %}

            <tr>
                <form method="POST" action="/add-csv-line">
                    <td>
                        <input type="text" name="addLine0" class="form-control" required>
                    </td>
                    <td>
                        <input type="text" name="addLine1" class="form-control" required>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-light" value="+">
                    </td>
                </form>
            </tr>

            <tr>
                <td colspan="3">
                    <form method="POST" action="/download-csv">
                        <input type="submit" class="btn btn-light" value="Save & Download">
                    </form>
                </td>
            </tr>

        </table>
    </div>
</div>
{% endif %}
{% endblock content %}