{% extends 'base.html'%}
{% block content %}
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        Hello! I am Semi-<b>MANU</b>al web <b>EL</b>ement scrapper – or Manuel, for short. I was created to help people.
        <br><br>
        I support OPS and QA in the routine tasks and provide some minimal level of non-invasive automation.
        I am totally secure (Eli approved that), so be not afraid to use me as long as it makes your life easier.
        <br><br>
        I may get a little buggy along the way, please report everything you've found to
        <a href="mailto:korshuk.vladimir@gmail.com">my creator</a>.
        Please choose one of the options in the Navigation to begin
    </div>
</div>
<div class="card bg-dark border-light text-light">
    <div class="card-body row">
        <h4 class="text-center">Update Notes</h4>
        <table class="table table-dark align-middle" id="updatesTable">
            <tr class="text-center">
                <th>
                    Date
                </th>
                <th>
                    Version
                </th>
                <th>
                    Updates
                </th>
            </tr>
            <tr>
                <td class="text-center">
                    Jan 11 2022
                </td>
                <td class="text-center">
                    v 1.0.5
                </td>
                <td>
                    <ul class="text-left">
                        <li>Added Update Notes</li>
                        <li>Added informative Services descriptions</li>
                        <li>Fixed bug with Bulk Redirect Editor opening CSVs with spaces incorrectly (I have no
                            confirmation that it doesn't <b>save</b> the file with spaces anymore)</li>
                        <li>Added Link Prettifier service</li>
                        <li>Added KeyError handler for Link Prettifier service (secures the link to be exactly
                        partner's)</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}