{% extends 'base.html'%}

{% block content %}
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        <h4>Listed Chart Product Links extractor</h4>
        <p>
            This service provides a sorted table with all of the <b>chart</b> product links with their respective
            product names. It works with <b>a list</b> of page links. Every link should start with a new line.
            No additional separators required.
            You can select the preferred device in the dropdown (Desktop or Mobile).
            If no chart links were found on a page - an Error message will be displayed under the given URL.
        </p>
    </div>
</div>
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        <h4>The field understands Google Sheet copypaste from a single column. Please stick to that</h4>
        <h5>Every link should begin from a new line, no separators are required</h5>
        <br>
        <form action="/listed-chart-links" method="POST">
            <div class="form-group row">
                <div class="col">
                    <textarea class="form-control" id="urlsInput" name="urlsInput" aria-describedby="urlHelp" cols="40" rows="5"></textarea>
                    <small id="urlHelp" class="text-left font-weight-light">Make sure links contain "https://". Querystring parameters are acceptable</small>
                </div>
                <div class="col-2">
                    <label for="device">Device:&nbsp;</label>
                    <select class="dropdown mt-2" id="device" name="device">
                        <option class="dropdown-item" value="desktop">Desktop</option>
                        <option class="dropdown-item" value="mobile">Mobile</option>
                    </select>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-light">Enter</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}