{% extends 'base.html'%}

{% block content %}
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        <h4>Text Comparison tool</h4>
        <p>
            This service evaluates the difference between the two given pieces of text. It returns a Result text,
            which has mismatches from Text1 highlighted in blue, and mismatches from Text2 highlighted in green.
        </p>
    </div>
</div>
<div class="card bg-dark border-light text-light text-center">
    <div class="card-body">
        <form action="/text-comparison" method="POST">
            <div class="form-group row">
                <div class="col">
                    <label class="mb-1"><b>Text 1</b></label>
                    <textarea required class="form-control" id="textOneInput" name="textOneInput" cols="20" rows="10"></textarea>
                </div>
                <div class="col">
                    <label class="mb-1"><b>Text 2</b></label>
                    <textarea required class="form-control" id="textTwoInput" name="textTwoInput" cols="20" rows="10"></textarea>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-light">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}